@charset "utf-8";

:root {
   --main-font: 'pretendard', sans-serif;
   --sub-font: 'Roboto Mono', monospace;
   --BK: #111111;
   --gray66: #666666;
   --gray99: #999999;
}

/* 공통사항 */

body {
   font-family: 'pretendard', serif; 
   font-size: 1.6rem;
   line-height: 1.5;
   color: #000;
   background-color: #fafafa;
}

#wrap {
   margin: 0 auto;
   /*min-width: 745px;*/
   max-width: 1194px;
}

#container {
   display: flex;
   position: relative;
}

/* #header {
   max-width: 1194px;
   height: 70px;
   border-bottom: 1px solid var(--gray99);
   display: flex;
   align-items: center;
   position: fixed;
   background: #fafafa;
   z-index: 10;
} */

#side {
   width: 276px;
   height: 100%;
   border-right: 1px solid var(--gray99);
   position: fixed;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
}

#header .title {
   width: 276px;
   height: 70px;
   border-right: 1px solid var(--gray99);
   border-bottom: 1px solid var(--gray99);
   position: relative;
}

#header .title h1 {
   font-family: var(--sub-font);
   font-size: 20px;
   font-weight: 600;
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}

#side .profile {
   padding: 20px 30px;
   width: 276px;
   border-bottom: 1px solid var(--gray99);
}

#side .profile h2 {
   font-family: var(--sub-font);
   font-size: 1.8rem;
   font-weight: 500;
   margin-bottom: 12px;
}

#side .profile img {
   width: 100%;
   max-height: 230px;
   border-radius: 16px;
   object-fit: cover;
   margin-bottom: 18px;
}

.profile ul li {
   display: flex;
   font-size: 14px;
   margin-bottom: 4px;
}

.profile ul li p {
   color: var(--gray99);
   width: 56px;
   text-transform: uppercase;
}

.skills {
   padding: 20px 30px;
}

@media (min-width: 375px) and (max-width: 768px) {
   #side {width: 100%; height: 100%; flex-wrap: wrap; position: static; border-right: none;}
   #side .profile {width: 100%; padding: 30px 40px;}
   #side .profile img {max-height: 280px;}
   #header .title {width: 100%; border-right: none;}
   .skills {padding: 30px 40px;}
}

.skills h2 {
   font-family: var(--sub-font);
   font-size: 1.8rem;
   font-weight: 500;
   margin-bottom: 8px;
}

.skills p {
   line-height: 1.6rem;
}

.skills .skill {
   display: flex;
   gap: 12px;
   font-size: 13px;
   padding: 8px 0;
   align-items: center;
   color: var(--gray66);
}

.skills .skill img {
   width: 40px;
   height: 40px;
   object-fit: contain;
}

.skill .premier {
   margin-right: -6px;
}

#main {
   width: calc(100% - 276px);
   position: absolute;
   top: 0;
   right: 0;
   background: #fafafa;
}

#main nav {
   max-width: calc(1194px - 276px);
   height: 70px;
   border-bottom: 1px solid var(--gray99);
}


#main .gnb {
   display: flex;
   justify-content: end;
   align-items: center;
   gap: 30px;
   font-family: var(--sub-font);
}

#main .gnb li a {
   color: var(--gray66);
   line-height: 70px;
}

#main .gnb li:hover a {
   color: var(--BK);
   transition: all 0.3s;
}

#main .gnb li.active a {
   color: var(--BK);
   font-weight: 500;
}

#main .menu {
   display: flex;
   height: 40px;
   gap: 20px;
   margin-top: 8px;
   margin-left: 30px;
   margin-bottom: 50px;
   position: fixed;
   background: #fafafa;
}


#main .menu li.active a {
   color: var(--BK);
   font-weight: 500;
}

#main .menu li a {
   display: block;
   padding: 8px 4px;
   font-family: var(--sub-font);
   font-weight: 400;
   color: var(--gray99);
   background: #fafafa;
}

#main .menu li:hover a {
   color: var(--BK);
   transition: all 0.3s;
} 

#main .inner {
   overflow-y: scroll;
   width: calc(1194px - 276px - 60px);
   height: 100vh;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 24px;
   margin-left: 30px;
   margin-top: 58px;
   padding-bottom: 10%;
   position: fixed;
}

::-webkit-scrollbar {
   display: none;
}

@media (min-width: 375px) and (max-width: 768px) {
   #main {position: static; width: 100%;}
   #main nav {width: 100%; border-top: 1px solid var(--gray99);}
   #main .gnb {justify-content: center; gap: 20%;}
   #main .menu {position: static; margin: 0 auto; justify-content: center; margin-top: 12px;}
   #main .inner {
      position: static;
      margin-top: 16px;
      grid-template-columns: 1fr;
      margin-left: 0;
      width: 100%;
      padding: 0 20px;
      overflow-y: auto;
   }
}

/*---------------- about me ---------------- */
.aboutme {
   width: calc(1194px - 276px - 60px);
   height: 100vh;
   background: pink;
   border-radius: 24px;
}

.result {
   border-radius: 24px;
   width: 414px;
   height: 400px;
   position: relative;
}

.result img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 24px;
   position: absolute;
   top: 0;
   left: 0;
}

.result .enter {
   opacity: 0;
   position: absolute;
   top: 0;
   left: 0;
   border-radius: 24px;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.7);
   backdrop-filter: blur(10px);
   color: #fff;
   padding: 30px;
   display: flex;
   flex-wrap: wrap;
   align-content: space-between;
}

.result:hover .enter {
   opacity: 1;
   transition: all 0.4s;
}

.enter .txt .sub {
   font-size: 1.8rem;
   margin-bottom: 4px;
}

.enter .txt h2 {
   font-size: 2.8rem;
   margin-bottom: 30px;
   line-height: 1.3;
}

.enter .link {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   gap: 12px;
}

@media (min-width: 375px) and (max-width: 768px) {
   .result {width: 100%; height: 300px;}
   .result .enter {padding: 24px;}
   .enter .txt .sub {font-size: 1.4rem;}
   .enter .txt h2 {font-size: 1.8rem; margin-bottom: 12px;}
   .enter .txt p {font-size: 1.4rem; margin-bottom: 4px;}
   .uiux h2 br {display: none;}
}

.enter .link .tour {
   width: calc((100% - 12px) / 2);
   background-color: #0066FF;
   display: flex;
   border-radius: 8px;
   height: 50px;
   line-height: 50px;
   font-size: 1.6rem;
   font-weight: 500;
   color: #fff;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
}

.enter .link .argoscare {
   width: calc((100% - 12px) / 2);
   background-color: #FF4C14;
   display: flex;
   border-radius: 8px;
   height: 50px;
   line-height: 50px;
   font-size: 1.6rem;
   font-weight: 500;
   color: #fff;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
}

.enter .link .dainy {
   width: calc((100% - 12px) / 2);
   background-color: #FDDB6D;
   display: none;
   border-radius: 8px;
   height: 50px;
   line-height: 50px;
   font-size: 1.6rem;
   font-weight: 500;
   color: var(--BK);
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
}

.enter .link .dongwha {
   width: 100%;
   background-color: #ffe0c6;
   display: flex;
   border-radius: 8px;
   height: 50px;
   line-height: 50px;
   font-size: 1.6rem;
   font-weight: 500;
   color: var(--BK);
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
}

.enter .link .nestle {
   width: 100%;
   background-color: #7F6557;
   display: none;
   border-radius: 8px;
   height: 50px;
   line-height: 50px;
   font-size: 1.6rem;
   font-weight: 500;
   color: #fff;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
}

.enter .link .acheal {
   width: 100%;
   background-color: #2D6533;
   display: flex;
   border-radius: 8px;
   height: 50px;
   line-height: 50px;
   font-size: 1.6rem;
   font-weight: 500;
   color: #fff;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
}

.enter .link .whale {
   width: 100%;
   background-color: #1f95e4;
   display: flex;
   border-radius: 8px;
   height: 50px;
   line-height: 50px;
   font-size: 1.6rem;
   font-weight: 500;
   color: #fff;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
}

.enter .link .phonecase {
   width: 100%;
   background-color: #EBE5DA;
   display: flex;
   border-radius: 8px;
   height: 50px;
   line-height: 50px;
   font-size: 1.6rem;
   font-weight: 500;
   color: var(--BK);
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
}

.enter .link .sati {
   width: 100%;
   background-color: #2A5DFA;
   display: flex;
   border-radius: 8px;
   height: 50px;
   line-height: 50px;
   font-size: 1.6rem;
   font-weight: 500;
   color: #fff;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
}

.enter .link .malJaranda {
   width: 100%;
   background-color: #E38600;
   display: flex;
   border-radius: 8px;
   height: 50px;
   line-height: 50px;
   font-size: 1.6rem;
   font-weight: 500;
   color: #fff;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
}

.enter .link .fastorder {
   width: 100%;
   background-color: #727272;
   display: flex;
   border-radius: 8px;
   height: 50px;
   line-height: 50px;
   font-size: 1.6rem;
   font-weight: 500;
   color: #fff;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
}

.enter .link .MS {
   width: 100%;
   background-color: #487e55;
   display: flex;
   border-radius: 8px;
   height: 50px;
   line-height: 50px;
   font-size: 1.6rem;
   font-weight: 500;
   color: #fff;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
}

.enter .link .puppy {
   width: 100%;
   background-color: #ff60a5;
   display: flex;
   border-radius: 8px;
   height: 50px;
   line-height: 50px;
   font-size: 1.6rem;
   font-weight: 500;
   color: #fff;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
}

.enter .link .iconposter {
   width: 100%;
   background-color: #00A18D;
   display: flex;
   border-radius: 8px;
   height: 50px;
   line-height: 50px;
   font-size: 1.6rem;
   font-weight: 500;
   color: #fff;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
}

.enter .link .nintendo {
   width: 100%;
   background-color: #c50010;
   display: none;
   border-radius: 8px;
   height: 50px;
   line-height: 50px;
   font-size: 1.6rem;
   font-weight: 500;
   color: #fff;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
}




/*---------------- result ---------------- */
.re_bg {
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.7);
   position: absolute;
   top: 0;
   left: 0;
   z-index: 15;
}

.re_close {
   font-size: 8rem;
   color: #fff;
   float: right;
   padding-right: 4%;
   position: absolute;
   top: 0;
   right: 0;
   z-index: 20;
}

.re_close:hover {
   cursor: pointer;
}

/* .swiper-wrapper {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
} */

.swiper {
   width: 80%;
   height: 90%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   border-radius: 24px;
 }

 .swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

 .swiper-button-next:after, .swiper-button-prev:after {
   color: rgba(255, 255, 255, 0.9);
}

.re_whale {
   width: 800px;
   height: 800px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   border-radius: 24px;
 }

 .re_whale .swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.re_fastorder {
   width: 80%;
   height: 90%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   border-radius: 24px;
   background: #212121;
   overflow-y: scroll;
 }
 .re_fastorder img {
   width: 80%;
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
}

.re_MS, .re_puppy {
   width: 80%;
   height: 90%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   border-radius: 24px;
   background: #212121;
   overflow-y: scroll;
 }
 .re_MS img, .re_puppy img {
   width: 65%;
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
}

.re_malJaranda {
   width: 80%;
   height: 90%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   border-radius: 24px;
   background: #212121;
   overflow-y: scroll;
 }
 .re_malJaranda img {
   width: 74%;
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
}

@media (min-width: 375px) and (max-width: 768px) {
   #container {flex-wrap: wrap; position: static;}
}
